<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PhoenixGod-eSportsTournament.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7E315CCF9DE4351C9A7DD7869C993D9FE92B3D36</string>
				<key>dateExpires</key>
				<string>2/2/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4DN979Q3WG.com.LoneWolfStudioss.PhoenixGod-eSportsTournament</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4DN979Q3WG</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>4DN979Q3WG.com.LoneWolfStudioss.PhoenixGod-eSportsTournament</string>
				</array>
			</dict>
			<key>name</key>
			<string>PhoenixGod-eSportsTournament.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9c867613-bcbb-4c98-b03f-b20203187136</string>
				<key>dateExpires</key>
				<string>2/4/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4DN979Q3WG</string>
				<key>name</key>
				<string>Daksh Dhakad</string>
			</dict>
			<key>versionNumber</key>
			<string>0.3</string>
		</dict>
	</array>
</dict>
</plist>
